body {
  background-color:rgb(139, 250, 238);
  text-align: center;
}

.Main {
  display:flex;
  background-color: white;
  margin: 70px 250px;
}

.ElementAddButtons {
  background-color: rgb(106, 159, 20);
  display: flex;
  justify-content: center;
  width: 20%;
  padding: 50px 0px;
}

.DocBuilder {
  width: 60%;
  text-align: center;
  background-color: rgb(130, 194, 226);
}
