.Item {
  margin: 5px 20px;
  display: block;
  height: auto;
  font-size: 14px;
}

input {
  width: 100%;
  font: inherit;
  padding: 0.45rem 0.9rem;
  border: none;
}

label {
  float: left;
  font: inherit;
  font-size: 18px;
  padding: 5px;
  margin-right: 15px;
}

textarea {
  width: 100%;
  height: 100px;
  font: inherit;
  padding: 0.45rem 0.9rem;
  border: none;
}

input, textarea {
  background-color: rgba(255, 255, 255, 0.15);
  /* border: 2px solid rgba(0, 0, 0, 0.25); */
  border-radius: 0.6rem;
}

input :focus, textarea :focus {
  border: 2px solid rgba(0, 0, 0, 0.25);
  border-radius: 0.6rem;
}
