.ElementAddButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 0;
}

.ElementAddButton button {
  display: block;
  font: inherit;
  padding: 8px 25px;
  width: 150px;
  margin: 3px 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
}
